<app-filter-menu (checkbox)="categoryFilter($event)" [categories]="categories"></app-filter-menu>
<ion-router-outlet id="filter"></ion-router-outlet>

<ion-header class="ion-no-border">
    <ion-toolbar color="secondary" no-border>
        <ion-buttons slot="start">

            <ion-menu-button  >
              <ion-icon name="ellipsis-horizontal-circle-outline"></ion-icon>
            </ion-menu-button>
        </ion-buttons>
        <ion-title>
            MY STORE
        </ion-title>
        <ion-buttons slot="end">

            <ion-button class="cart" routerLink="/tabs/tab3">
                <ion-icon name="cart-outline" size="large" color="light"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-badge color="light" slot="end">{{ count || 0 }}</ion-badge>
    </ion-toolbar>


</ion-header>

<ion-content  [fullscreen]="true" style="position: relative; ">
    <ion-toolbar style="position: fixed; top: 40px; padding-top:50px" >
        <ion-buttons slot="primary">
            <ion-button color="dark" expand="block" fill="clear" (click)="openModal()">
                <ion-icon name="funnel-outline" slot="end"></ion-icon>
                Sort
            </ion-button>
            <ion-button color="dark" expand="block" fill="clear" (click)="openFilter()">
                <ion-icon name="filter-outline" slot="end"></ion-icon>
                Filter
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <div class="banner">
      <img src="../../assets/banner.svg" />

      <div class="caption ion-padding">
        Join with <br>
        joyful shopping !
      </div>

      <div class="search" routerLink="/search">
        <ion-item lines="none" class="ion-no-padding">
          <ion-icon slot="start" name="search-outline"></ion-icon>
          <ion-input placeholder="Search Products..."></ion-input>

        </ion-item>
      </div>
    </div>



    <ion-grid style="margin-top:30px;">
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item *ngFor="let prod of displayedList"
                              class="item-entry"
                              (click)="loadingSpinner()"
                              detail
                              routerLink="/tabs/tab1/prod-detail/{{ prod.id }}">
                        <ion-thumbnail style="width:80px;">
                            <ion-img [src]="prod.images[0].src" alt="{{ prod.name }}"
                            style="border-radius:20%; background-color: black;"></ion-img>
                        </ion-thumbnail>
                        <ion-label class="product">
                            <h3 class="item-name">{{ prod.name }}</h3>
                            <ion-text>
                                <p class="price">
                                    {{  prod.price | currency:"USD" }}
                                </p>
                            </ion-text>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>

   <ion-infinite-scroll (ionInfinite)="loadMoreData($event)" threshold="10px">
       <ion-infinite-scroll-content
         loadingSpinner="bubbles"
         loadingText="Loading more products...."
       >
       </ion-infinite-scroll-content>
   </ion-infinite-scroll>

</ion-content>
